.DS_Store
*.bak
*.vfb
desktop.ini
*.ttf
*.otf
release/
tools/CacheTT/
tools/FontTools.exe
tools/FontTools/
venv
.mypy_cache
.ropeproject

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
